<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title> Questions</title>
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
 <link rel="stylesheet" 
 href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
 <style>
  html{
   padding:50px;
  }
 </style>
</head>
<body>
 <div class="container">
  <div class="col-sm-12 ">
   <h2>Questions</h2>

  
 
 

   <form action="/questions" method="post">
    <div class="form-group">
     <label>Title</label>
     <input type="text" class="form-control" name="title">
    </div>
    <div class="form-group">
     <label>Answer1</label>
     <input type="text" class="form-control" name="answer1">
    </div>
    <div class="form-group">
        <label>Answer2</label>
        <input type="text" class="form-control" name="answer2">
       </div>

    <button type="submit" class="btn btn-succcess btn-lg">Submit</button>
   </form>


   <hr>

   
   <p>Go Back <a href="/profile">to your profile</a>.</p>

   <% if (questions.length >0 ) { %>
    <div>
    Intrebari
<table class="table table-hovered">
    <thead>
        <tr>
            <th scope="col"> </th>
            <th scope="col"> Question </th>
            <th scope="col"> Answer1 </th>
            <th scope="col"> </th>
            <th scope="col"> Answer2 </th>
            <th scope="col"> </th>
        </tr>
    </thead>
    <tbody>
            <% questions.forEach((question, index) => { %>
        <tr> 
            <td><%= question.id %> </td>
            <td><%= question.title %></td>
            <td><%= question.answer1 %> </td>
            <td> <a href="/vote1/<%=question.title%>" class = "btn btn-sm btn-success"> Vote Ans 1</a></td>
            <td> <%= question.answer2 %></td>
            <td> <a href="/vote2" class = "btn btn-sm btn-success"> Vote Ans 2</a></td>
        </tr>
        <% }) %>
    </tbody>

</table>



</div> 
   <% } else { %>
    <div class="alert alert-danger"> No questions yet.</div>
    <% } %>
  </div>
 </div>
</body>
</html>