<% include header.ejs %>
 <title> Questions</title>
 <style>
  html{
   padding:50px;
  }
 </style>
</head>
<body>
 <div class="container">
  <div class="col-sm-12 ">
   <h2>Questions</h2>

  
 
 

   <form action="/questions" method="post">
    <div class="form-group">
     <label>Title</label>
     <input type="text" class="form-control" name="title">
    </div>
    <div class="form-group">
     <label>Answer1</label>
     <input type="text" class="form-control" name="answer1">
    </div>
    <div class="form-group">
        <label>Answer2</label>
        <input type="text" class="form-control" name="answer2">
       </div>

    <button type="submit" class="btn btn-succcess btn-lg">Submit</button>
   </form>


   <hr>

   
   <p>Go Back <a href="/profile">to your profile</a>.</p>

   <% if (questions.length >0 ) { %>
    <div>
    Intrebari
<table class="table table-hovered">
    <thead>
        <tr>
            <th scope="col"> Id </th>
            <th scope="col"> Question </th>
            <th scope="col"> Answer1 </th>
            <th scope="col"> </th>
            <th scope="col"> Answer2 </th>
            <th scope="col"> </th>
            <th scope="col"> %Ans1</th>
            <th scope="col"> %Ans2</th>
            <th scope="col">  </th>
        </tr>
    </thead>
    <tbody>
            <% questions.forEach((question, index) => { %>
        <tr> 
            <td><%= question.id %> </td>
            <td><%= question.title %></td>
            <td><%= question.answer1 %> </td>
            <td> <a href="/vote1/<%=question.id%>" class = "btn btn-sm btn-success"> Vote Ans 1</a></td>
            <td> <%= question.answer2 %></td>
            <td> <a href="/vote2/<%=question.id%>" class = "btn btn-sm btn-success"> Vote Ans 2</a></td>
            <td> <%= Math.round(question.numarvoturi1 / (question.numarvoturi1 + question.numarvoturi2) * 100) %> %</td>
            <td> <%= Math.round(question.numarvoturi2 / (question.numarvoturi1 + question.numarvoturi2) * 100) %> %</td>
            <td> <a href="/delete1/<%=question.id%>" class = "btn btn-sm btn-danger"> DELETE</a></td>
        </tr>
        <% }) %>
    </tbody>

</table>



</div> 
   <% } else { %>
    <div class="alert alert-danger"> No questions yet.</div>
    <% } %>
  </div>
 </div>
</body>
</html>